def teacher_create(request):

    if request.method == "POST":

        form = TeacherForm(
            request.POST,
            request.FILES,
        )

        print("=" * 60)
        print("POST RECEIVED")

        if form.is_valid():

            print("FORM IS VALID")

            teacher = form.save()

            print("Teacher Saved:", teacher.teacher_id)

            messages.success(
                request,
                "Teacher added successfully."
            )

            return redirect("teacher_list")

        else:

            print("FORM ERRORS")
            print(form.errors)

    else:

        form = TeacherForm()

    return render(
        request,
        "teachers/teacher_create.html",
        {
            "form": form,
        },
    )