{% extends "layouts/app.html" %}

{% block title %}
Delete Student | EduOS
{% endblock %}

{% block content %}

<h1>Delete Student</h1>

<div class="form-card">

    <p>
        Are you sure you want to delete
        <strong>{{ student.first_name }} {{ student.last_name }}</strong>?
    </p>

    <p style="color:red;">
        This action cannot be undone.
    </p>

    <form method="POST">

        {% csrf_token %}

        <button type="submit" class="btn-danger">
            🗑 Delete Student
        </button>

        <a href="{% url 'student_detail' student.id %}"
           class="btn-secondary">
            Cancel
        </a>

    </form>

</div>

{% endblock %}