{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchoolOS</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav>
        <h2>🎓 SchoolOS</h2>

        <ul>
            <li>Home</li>
            <li>Features</li>
            <li>About</li>
            <li>Contact</li>
        </ul>

        <button>Login</button>
    </nav>

    <section class="hero">

        <h1>One Platform.<br>Every School.<br>Every Role.</h1>

        <p>
            A modern School ERP built to manage
            students, teachers, parents, attendance,
            transport, examinations and much more.
        </p>

        <button class="primary-btn">Get Started</button>

    </section>

    <section class="features">

    <h2>Core Modules</h2>

    <div class="feature-grid">

        <div class="card">
            <h3>👨‍🎓 Student Management</h3>
            <p>Admissions, profiles, attendance, performance and records.</p>
        </div>

        <div class="card">
            <h3>👩‍🏫 Teacher Management</h3>
            <p>Teacher profiles, classes, workload and attendance.</p>
        </div>

        <div class="card">
            <h3>📅 Attendance</h3>
            <p>Student, teacher and staff attendance with reports.</p>
        </div>

        <div class="card">
            <h3>📚 Library</h3>
            <p>Books, issuing, returns and overdue management.</p>
        </div>

        <div class="card">
            <h3>🚌 Transport</h3>
            <p>Routes, buses, drivers and student transport tracking.</p>
        </div>

        <div class="card">
            <h3>📝 Examination</h3>
            <p>Exams, marks, grades and report cards.</p>
        </div>

        <div class="card">
            <h3>🔔 Notifications</h3>
            <p>Announcements, notices and important school updates.</p>
        </div>

        <div class="card">
            <h3>👨‍👩‍👧 Parent Portal</h3>
            <p>Attendance, homework, fees and communication with school.</p>
        </div>

    </div>

</section>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>